<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Trudoyomkost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Trudoyomkost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Trudoyomkost.Properties.Settings.TrudoyomkostDBConnectionString"
            connectionString="Data Source=|DataDirectory|\TrudoyomkostDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Trudoyomkost.Properties.Settings.ODLDB210410ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ODLDB210410.MDB;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Trudoyomkost.Properties.Settings>
            <setting name="DetID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LabourNormID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TariffNetNum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DepNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RoundNum" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="IsAggregateDep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MdbFileDir" serializeAs="String">
                <value>"C:"</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.52</value>
            </setting>
            <setting name="TariffPass" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="TariffPass2" serializeAs="String">
                <value>password2</value>
            </setting>
        </Trudoyomkost.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Trudoyomkost.Properties.Settings>
            <setting name="IsValidateGbNotific" serializeAs="String">
                <value>Данные не верно заполнение !!! </value>
            </setting>
        </Trudoyomkost.Properties.Settings>
    </applicationSettings>
</configuration>